.contacts {
    position: fixed;
    z-index: 100;
    top: 14%;
    left: 35vw;
    width: 30%;
    height: 55%;
    background: transparent;
    border: 1px solid rgba(255,255,255, 0.08);
    border-radius: 20px;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}
.contacts-active{
    transform: scale(1);
}

.contacts-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    border: none;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

@media(max-width: 725px){

    .contacts{
        position: center;
        width: 90vw;
        height: 60vh;
        left: 3vw;
        top: 20vh;
    }
}
