*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.text-logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    pointer-events: none;
    /*text-shadow: 0 0 5px white;*/
}
.navbar a,
.navbar button {
    position: relative;
    font-size: 1.1em;
    font-family: "Helvetica Neue", serif;
    text-decoration: none;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    margin-left: 40px;
}

.navbar a::after,
.about-btn::after,
.contact-btn::after,
.home-btn::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navbar a:hover::after,
.navbar button:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
    transition: .5s;

}
.navbar .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hard-skills-block::before{
    content: '';
    position: absolute;
    z-index: 21;
    width: 100%;
    height: 40vh;
    background-image: url(../img/ground.png);
    /*bottom: -30vh;*/
    top: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.hard-skills-block {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    z-index: 10;
}
.hard-skills-block .hard-skills-text{
    position: relative;
    top: 63vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
    font-family: "Helvetica Neue", serif;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 530;
    background: none;
    border: none;
    transform: translate3d(0, calc(var(--scrollTop)/-2), 0);
    text-shadow: 0 0 20px #f9df02;
    pointer-events: none;
    z-index: 21;
}




@media(max-width: 725px){

    .text-logo{
        position: relative;
        height: 20vh;
        left: -16vw;
    }
    .navbar a,
    .navbar button {
        position: relative;
        font-size: 1em;
        font-family: "Helvetica Neue", serif;
        width: 19vw;
        margin-top: 2vw;
        left: 19vw;
        top: -3vh;
    }
    .navbar .btnLogin-popup{
        left: -20vw;
        top: -13vh;
    }


}

