*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.text-logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navbar a,
.navbar .home-btn {
    position: relative;
    font-size: 1.1em;
    font-family: "Helvetica Neue", serif;
    text-decoration: none;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    margin-left: 40px;
}
.navbar .home-btn::after,
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navbar .home-btn:hover::after,
.navbar a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
    transition: .5s;
}
.navbar .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-wrapper{
    /*overflow: hidden;*/
}

.wrapper{
    position: fixed;
    z-index: 100;
    top: 14%;
    left: 33%;
    width: 30%;
    height: 55%;
    background: transparent;
    border: 1px solid rgba(255,255,255, 0.08);
    border-radius: 20px;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}

.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 65%;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}

.wrapper .form-box.login{
    transition: transform .3s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: transform .3s ease;
    transform: translateX(-400px);

}

.wrapper .form-box.register{
    position: absolute;
    transition: transform .3s ease;
    transform: translateX(400px);

}
.wrapper.active .form-box.register{
    transition: transform .3s ease;
    transform: translateX(0);
}

.form-box  h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
    font-family: "Helvetica Neue", serif;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px ;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-family: "Helvetica Neue", serif;
    font-style: italic;
    color: white;
    font-weight: 300;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 50px ;
}

.remember-forgot{
    font-size: 1em;
    font-family: "Helvetica Neue", serif;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 40px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-family: "Helvetica Neue", serif;
    color: #fff;
    font-weight: 400;
    transition: 0.2s;
}
.btn:hover{
    background: #fff;
    color: #162938;
}

.login-register{
    font-size: 1em;
    font-family: "Helvetica Neue", serif;
    color: #162938;
    text-align: center;
    font-weight: 400;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #5a92c5;
    text-decoration: none;
    font-weight: 500;
}
.login-register p a:hover{
    text-decoration: underline;
}


main{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.parallax{
    pointer-events: none;
    /*transition: 0.2s cubic-bezier(0.41,0.23,0.43,0.7);*/
    transform: translate(-50%, -50%);
}
.bg-img{
    position: absolute;
    width: 150%;
    top: 50%;
    left: 50%;
    z-index: 1;
    pointer-events: none;
}
.stars_6{
    position: absolute;
    width: 100%;
    top: 55%;
    left: 52%;
    z-index: 2;
    pointer-events: none;
}
.moon_5{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 3;
    pointer-events: none;
}
.clouds_4{
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    z-index: 4;
    pointer-events: none;
}
.forest_3{
    position: absolute;
    width: 130%;
    top: 50%;
    left: 50%;
    z-index: 5;
    pointer-events: none;
}
.fog_3{
    position: absolute;
    width: 125%;
    top: 50%;
    left: 50%;
    z-index: 6;
    pointer-events: none;
}
.forest_2{
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    z-index: 7;
    pointer-events: none;
}
.fog_2{
    position: absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    z-index: 8;
    pointer-events: none;
}
.forest_1{
    position: absolute;
    width: 120%;
    top: 45%;
    left: 50%;
    z-index: 9;
    pointer-events: none;
}
.firefliers_1{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 10;
    pointer-events: none;
}
.fog_1{
    position: absolute;
    width: 115%;
    top: 45%;
    left: 50%;
    z-index: 11;
    pointer-events: none;
}
.vignette{
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 85%, rgba(0,0,0,0.4));
}

.hard-skills-block::before{
    content: '';
    position: absolute;
    z-index: 21;
    width: 100%;
    height: 40vh;
    background-image: url(../img/ground.png);
    bottom: -30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.hard-skills-block {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    z-index: 10;
}



@media(max-width: 725px){
    .bg-img{
        position: center;
        height: 200%;
    }
    .stars_6{
        position: center;
        height: 45%;
        top: 30%;
    }
    .moon_5{
        position: center;
        width: 300%;
        top: 60%;
        left: 56%;
    }
    .clouds_4{
        position: center;
        width: 150%;
        top: 55%;
        left: 52%;
    }
    .forest_3{
        position: absolute;
        width: 320%;
        top: 50%;
        left: 30%;
    }
    .fog_3{
        position: absolute;
        width: 320%;
        top: 50%;
        left: 30%;
    }
    .forest_2{
        position: center;
        width: 320%;
        top: 50%;
        left: 30%;

    }
    .fog_2{
        position: absolute;
        width: 320%;
        top: 50%;
        left: 30%;
    }
    .forest_1{
        position: center;
        width: 320%;
        top: 50%;
        left: 30%;
    }
    .firefliers_1{
        position: absolute;
        width: 320%;
        top: 50%;
        left: 30%;
    }
    .fog_1{
        position: absolute;
        width: 320%;
        top: 50%;
        left: 30%;
    }
    .wrapper {
        position: fixed;
        z-index: 13;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 55%;
    }

}
@media(min-width: 1080px){
    .wrapper.active .form-box.login{
        transition: transform .3s ease;
        transform: translateX(-800px);

    }

    .wrapper .form-box.register{
        position: absolute;
        transition: transform .3s ease;
        transform: translateX(800px);

    }
}

