.testing-tools {
    position: relative;
    border: white;
    width: 98%;
    height: 14vh;
    text-align: left;
    justify-content: center;
    align-items: center;
    left: 1vw;
    top: 73vw;
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transform: translate3d(0, calc(var(--scrollTop)/-1), 0);
    padding: 15px;
}

.testing-tools h2{
    position: relative;
    top: 2vh;
    font-family: var(--font);
    font-size: 4vh;
    font-weight: 530;
    color: #fff;
    text-shadow: 0 0 20px #f9df02;
    pointer-events: none;
    margin: 0;

}
.testing-tools img{
    position: relative;
    width: 4vw;
    left: 18vw;
    top: -8vh;
    margin-left: 2.1%;
    transition: .3s;
}

.testing-tools .icon:hover{
    width: 5vw;
}


.testing-tools .sql:hover{
    width: 4vw;
    -webkit-filter: drop-shadow(0 10px 5px #346EECFF);
}

.testing-tools .dbeaver{
    -webkit-filter: drop-shadow(0 0 15px #ab9857);
}
.testing-tools .dbeaver:hover{
    -webkit-filter: drop-shadow(0 10px 5px #ab9857);
}

.testing-tools .postman{
    -webkit-filter: drop-shadow(0 0 15px #ff471a);
}
.testing-tools .postman:hover{
    -webkit-filter: drop-shadow(0 10px 5px #ff471a);
}

.testing-tools .scrum{
    -webkit-filter: drop-shadow(0 0 15px #beffed);
}
.testing-tools .scrum:hover{
    -webkit-filter: drop-shadow(0 10px 5px #beffed);
}

.testing-tools .jira{
    -webkit-filter: drop-shadow(0 0 15px #16d4ff);
}
.testing-tools .jira:hover{
    -webkit-filter: drop-shadow(0 10px 5px #16d4ff);
}

.testing-tools .github{
    -webkit-filter: drop-shadow(0 0 15px #5816ff);
}
.testing-tools .github:hover{
    -webkit-filter: drop-shadow(0 10px 5px #5816ff);
}

.testing-tools .git{
    -webkit-filter: drop-shadow(0 0 15px #ff1639);
}
.testing-tools .git:hover{
    -webkit-filter: drop-shadow(0 10px 5px #ff1639);
}


@media(max-width: 725px) {
    .testing-tools h2{
        position: relative;
        top: -1.5vh;
    }
    .testing-tools {
        position: relative;
        border: white;
        width: 90vw;
        left: 5vw;
        height: 24vh;
        text-align: left;
        top: 49vh;
        transform: translate3d(0, calc(var(--scrollTop) / -3), 0);
        overflow: scroll;
    }

    .testing-tools .icon {
        width: 10vw;
        top: -3vh;
        left: 0vh;
        margin-left: 3vw;
        margin-top: 3vh;
    }

    .testing-tools .icon:hover {
        width: 11vw;
        top: 0vh;

    }
}






