.testing-tools {
    position: relative;
    border: white;
    width: 98%;
    height: 14vh;
    text-align: left;
    justify-content: center;
    align-items: center;
    left: 1vw;
    top: 73vw;
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transform: translate3d(0, calc(var(--scrollTop)/-1), 0);
    padding: 15px;
}

.testing-tools h2{
    position: relative;
    top: 2vh;
    font-family: var(--font);
    font-size: 4vh;
    font-weight: 530;
    color: #fff;
    text-shadow: 0 0 20px #f9df02;
    pointer-events: none;
    margin: 0;

}
.testing-tools img{
    position: relative;
    width: 4vw;
    left: 18vw;
    top: -8vh;
    margin-left: 2.1%;
    transition: .3s;
}

.testing-tools .icon:hover{
    width: 5vw;
}

.testing-tools .postman{
    -webkit-filter: drop-shadow(0 0 15px #ff471a);
}
.testing-tools .postman:hover{
    -webkit-filter: drop-shadow(0 10px 5px #ff471a);
}
.postman-box {
    position: absolute;
    width: 90vw;
    height: 75vh;
    left: 5vw;
    top: 120vh;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5vh;
    box-shadow: 0 0 30px rgba(0,0,1, .5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 21;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}
.active-postman-box {
    transform: scale(1);
}

.testing-tools .scrum{
    -webkit-filter: drop-shadow(0 0 15px #beffed);
}
.testing-tools .scrum:hover{
    -webkit-filter: drop-shadow(0 10px 5px #beffed);
}
.scrum-box {
    position: absolute;
    width: 90vw;
    height: 75vh;
    left: 5vw;
    top: 120vh;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5vh;
    box-shadow: 0 0 30px rgba(0,0,1, .5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 21;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}
.active-scrum-box {
    transform: scale(1);
}

.testing-tools .jira{
    -webkit-filter: drop-shadow(0 0 15px #16d4ff);
}
.testing-tools .jira:hover{
    -webkit-filter: drop-shadow(0 10px 5px #16d4ff);
}
.jira-box {
    position: absolute;
    width: 90vw;
    height: 75vh;
    left: 5vw;
    top: 120vh;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5vh;
    box-shadow: 0 0 30px rgba(0,0,1, .5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 21;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}
.active-jira-box {
    transform: scale(1);
}

.testing-tools .github{
    -webkit-filter: drop-shadow(0 0 15px #5816ff);
}
.testing-tools .github:hover{
    -webkit-filter: drop-shadow(0 10px 5px #5816ff);
}
.git-hub-box {
    position: absolute;
    width: 90vw;
    height: 75vh;
    left: 5vw;
    top: 120vh;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5vh;
    box-shadow: 0 0 30px rgba(0,0,1, .5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 21;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}
.active-git-hub-box {
    transform: scale(1);
}

.testing-tools .git{
    -webkit-filter: drop-shadow(0 0 15px #ff1639);
}
.testing-tools .git:hover{
    -webkit-filter: drop-shadow(0 10px 5px #ff1639);
}
.git-box {
    position: absolute;
    width: 90vw;
    height: 75vh;
    left: 5vw;
    top: 120vh;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5vh;
    box-shadow: 0 0 30px rgba(0,0,1, .5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 21;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}
.active-git-box {
    transform: scale(1);
}


@media(max-width: 725px) {
    .testing-tools h2{
        position: relative;
        top: -1.5vh;
    }
    .testing-tools {
        position: relative;
        border: white;
        width: 90vw;
        left: 5vw;
        height: 24vh;
        text-align: left;
        top: 49vh;
        transform: translate3d(0, calc(var(--scrollTop) / -3), 0);
        overflow: scroll;
    }

    .testing-tools .icon {
        width: 10vw;
        top: -3vh;
        left: 0vh;
        margin-left: 3vw;
        margin-top: 3vh;
    }

    .testing-tools .icon:hover {
        width: 11vw;
        top: 0vh;

    }
}






